@font-face {
  font-family: 'ubuntubold';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntulight';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntumedium';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubunturegular';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gagalinregular';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  margin: 0;
  padding: 0; }
  @media screen and (max-width: 48rem) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 30rem) {
    html {
      font-size: 13px; } }

body {
  margin: 0; }

ul {
  margin: 0;
  padding: 0; }

.wrapper {
  width: 100%;
  overflow: hidden; }

.container_center {
  margin: 0 auto;
  max-width: 58.75rem;
  height: 100%; }
  .container_center-vertical {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media screen and (max-width: 48rem) {
      .container_center-vertical {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start; } }
    .container_center-vertical-top {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }

.section {
  margin: 0;
  width: 100%;
  min-height: 40.625rem;
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  @media screen and (max-width: 48rem) {
    .section {
      min-height: 1024px; } }
  @media screen and (max-width: 30rem) {
    .section {
      min-height: 800px; } }

.down-btn {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 6.9375rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.down-btn__icon {
  width: 1.25rem;
  height: 1.25rem;
  border: 0.125rem solid #fff;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-border-radius: 0 0 0 0.3125rem;
          border-radius: 0 0 0 0.3125rem;
  border-top: transparent;
  border-right: transparent; }

.fulscreen-menu {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(47, 50, 52, 0.99);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none; }

.fulscreen-menu-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.fulscreen-menu-list__line {
  list-style-type: none; }
  .fulscreen-menu-list__line:after {
    content: "";
    display: block;
    width: 0.3125rem;
    height: 0.3125rem;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #fff;
    margin: 25px auto; }
  .fulscreen-menu-list__line:last-child:after {
    display: none; }

.fulscreen-menu-list__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: 'ubunturegular';
  font-size: 24px; }

.fulscreen-menu-list__close-pic {
  position: absolute;
  top: 30px;
  right: 35px; }

.fulscreen-menu-list__close-img {
  fill: #fff; }

.top {
  background-color: #000;
  background-image: url(../img/top-bg.png);
  position: relative; }

.fixed-nav {
  position: fixed;
  z-index: 22;
  right: 3.125rem;
  top: 5.625rem; }
  @media screen and (max-width: 768px) {
    .fixed-nav {
      display: none; } }

.fixed-nav__item {
  color: #fff;
  width: 1.125rem;
  height: 1.125rem;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  list-style-type: none;
  margin-bottom: 0.3125rem; }
  .fixed-nav__item:hover {
    border: 0.0625rem solid #fff; }

.fixed-nav__link {
  text-decoration: none;
  color: #fff;
  line-height: 1.1875rem;
  font-size: 1.5rem; }

.fixed-nav__item_active {
  border: 0.0625rem solid #fff; }

.header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'ubunturegular';
  padding-top: 0.625rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }

.top-logo {
  width: 5.75rem;
  height: 4.3125rem;
  position: relative;
  z-index: 20; }
  @media screen and (max-width: 768px) {
    .top-logo {
      margin-left: 25px; } }

.nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto; }
  @media screen and (max-width: 768px) {
    .nav {
      display: none; } }

.nav__line {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-transform: uppercase;
  margin-right: 0.9375rem;
  font-size: 0.8125rem;
  list-style-type: none; }
  .nav__line:after {
    content: "";
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 0.25rem;
    height: 0.25rem;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #fff;
    margin-left: 0.9375rem; }
  .nav__line:last-child:after {
    display: none; }

.header__btn {
  list-style-type: none;
  margin-left: 0;
  margin-right: 0; }
  @media screen and (max-width: 768px) {
    .header__btn {
      margin-left: auto; } }

.order-btn {
  font-family: 'ubuntumedium';
  color: #fff;
  text-decoration: none;
  background-color: #e94400;
  padding: 0.625rem 1.125rem;
  -webkit-border-radius: 0.3125rem;
          border-radius: 0.3125rem;
  border: none;
  cursor: pointer;
  font-size: 0.8125rem;
  text-transform: uppercase; }

.top-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .top-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

@media screen and (max-width: 768px) {
  .top__img {
    text-align: center; } }

@media screen and (max-width: 480px) {
  .top__img {
    text-align: center; } }

.top__pic {
  width: 100%;
  height: 100%;
  margin-left: -1.75rem;
  margin-top: -0.25rem; }
  @media screen and (max-width: 480px) {
    .top__pic {
      width: 80%; } }

.top__txt {
  font-family: 'lifehackmedium';
  color: #fff;
  font-size: 4.0625rem;
  line-height: 3.8125rem;
  margin-left: 0.8125rem; }
  @media screen and (max-width: 768px) {
    .top__txt {
      text-align: center;
      margin-left: 0; } }

.top__title {
  font-family: 'gagalinregular';
  text-transform: uppercase;
  font-size: 4.5rem;
  line-height: 7.375rem;
  color: #f5c108; }

.top-hamburger {
  position: relative;
  margin-right: 1.875rem;
  margin-left: 1.875rem;
  display: none; }
  @media screen and (max-width: 768px) {
    .top-hamburger {
      display: block; } }

.we-best {
  background-image: url(../img/bg-webest.jpg); }

.best-title {
  text-align: center;
  font-family: 'gagalinregular';
  color: #333538;
  font-size: 4.5rem;
  padding-bottom: 5rem; }
  @media screen and (max-width: 768px) {
    .best-title {
      margin-top: 7.8125rem;
      margin-bottom: 10.9375rem;
      padding-bottom: 0; } }
  @media screen and (max-width: 480px) {
    .best-title {
      margin-top: 3.75rem;
      margin-bottom: 5.3125rem; } }

.best-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media screen and (max-width: 480px) {
    .best-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.best-list__item {
  text-align: center;
  width: 33%; }
  @media screen and (max-width: 480px) {
    .best-list__item {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 94%;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 45px; } }

@media screen and (max-width: 480px) {
  .best-list__txt {
    text-align: left;
    width: 23.75rem;
    margin-left: auto; } }

.best-list__item span {
  font-family: 'lifehackmedium';
  font-size: 1.5rem;
  color: #2f3234; }

.best-list__item p {
  font-family: 'ubuntulight';
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #2f3234; }

.best-item-pic {
  padding-bottom: 1.875rem; }
  @media screen and (max-width: 480px) {
    .best-item-pic {
      width: 21%;
      text-align: center;
      margin-left: 20px; } }

.reviews-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  height: 100%; }

.reviews__item {
  list-style-type: none;
  width: 25%;
  height: 50%;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  @media screen and (max-width: 768px) {
    .reviews__item {
      width: 50%;
      height: 25%; } }
  .reviews__item:hover .reviews__content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media screen and (max-width: 768px) {
      .reviews__item:hover .reviews__content {
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
    @media screen and (max-width: 480px) {
      .reviews__item:hover .reviews__content {
        display: none; } }

.reviews__img {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%; }

.reviews__content {
  position: absolute;
  top: 0;
  z-index: 1;
  background-color: rgba(68, 69, 70, 0.7);
  display: none;
  height: 100%;
  padding-left: 1.25rem;
  padding-right: 1.875rem;
  overflow: hidden; }

.reviews__title {
  font-family: 'gagalinregular';
  color: #fff;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin-top: 3.125rem;
  padding-bottom: 1.875rem; }
  @media screen and (max-width: 768px) {
    .reviews__title {
      margin-top: 2.1875rem;
      padding-bottom: 1.25rem; } }

.reviews__txt {
  font-family: 'ubuntulight';
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.5rem; }
  @media screen and (max-width: 768px) {
    .reviews__txt {
      text-align: center; } }

.reviews__btn {
  margin-top: auto;
  margin-bottom: 3.75rem; }
  @media screen and (max-width: 768px) {
    .reviews__btn {
      margin-bottom: 2.1875rem; } }

.reviews__link {
  text-decoration: none;
  background-color: #2f3234;
  color: #fff;
  text-transform: uppercase;
  font-family: 'ubunturegular';
  padding: 0.9375rem;
  font-size: 0.8125rem;
  -webkit-border-radius: 0.3125rem;
          border-radius: 0.3125rem; }
  .reviews__link:hover {
    background-color: #242627; }

.team {
  background-image: url(../img/team-bg.jpg);
  position: relative; }

.team-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  background-color: rgba(47, 50, 52, 0.93);
  padding: 5.625rem 0 0 5rem; }
  @media screen and (max-width: 48rem) {
    .team-content {
      left: 0;
      padding: 0; } }

.team-content__title {
  font-family: 'gagalinregular';
  font-size: 4.5rem;
  color: #f9b43b;
  margin-bottom: 5rem;
  width: 100%; }
  @media screen and (max-width: 48rem) {
    .team-content__title {
      text-align: center;
      margin-top: 7.8125rem; } }
  @media screen and (max-width: 30rem) {
    .team-content__title {
      margin-top: 4.0625rem; } }

@media screen and (max-width: 48rem) {
  .team-list {
    margin-top: 7.8125rem;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; } }

@media screen and (max-width: 30rem) {
  .team-list {
    margin-top: 6.25rem; } }

.team-list__line {
  list-style-type: none;
  margin-bottom: 2.1875rem; }
  .team-list__line:hover .team-member__content {
    height: auto; }
  .team-list__line:hover .team-member__icon {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .team-list__line:hover .team-member__name {
    color: #f9b43b; }
  @media screen and (max-width: 48rem) {
    .team-list__line {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 1.875rem; } }

.team-member__name {
  font-family: 'gagalinregular';
  color: #fff;
  font-size: 0.875rem;
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 48rem) {
    .team-member__name {
      font-size: 1.5rem; } }

.team-member__content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0.625rem;
  height: 0;
  overflow: hidden; }
  @media screen and (max-width: 48rem) {
    .team-member__content {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.team-member__foto {
  background-image: url(../img/aphex-jpg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  width: 6.25rem;
  height: 6.25rem;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  @media screen and (max-width: 48rem) {
    .team-member__foto {
      margin-bottom: 1.375rem; } }

.team-member__description {
  width: 13.125rem;
  font-size: 0.875rem;
  color: #fff;
  padding-left: 1.25rem; }
  @media screen and (max-width: 48rem) {
    .team-member__description {
      width: 20.625rem; } }

.team-member__position {
  font-family: "ubuntubold"; }

.team-member__about {
  font-family: 'ubuntulight';
  line-height: 1.5rem;
  padding-top: 0.9375rem; }

.team-member__content_active {
  height: auto; }

.menu {
  background-image: url(../img/menu-bg.jpg);
  position: relative; }

.menu__title {
  font-family: 'gagalinregular';
  font-size: 4.5rem;
  color: #fff;
  margin-left: 5.9375rem;
  padding-top: 6.875rem; }

.menu-list {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu__line {
  list-style-type: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu__line:hover .menu__txt {
    width: 34.0625rem;
    padding: 3.9375rem 2.1875rem; }
    @media screen and (max-width: 768px) {
      .menu__line:hover .menu__txt {
        width: 100%; } }

.menu__name-box {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5rem; }
  @media screen and (max-width: 768px) {
    .menu__name-box {
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end; } }

.menu__name {
  font-family: 'gagalinregular';
  color: #fff;
  font-size: 2.5rem;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }
  @media screen and (max-width: 768px) {
    .menu__name {
      -webkit-transform: rotate(-90deg) translateX(50%);
          -ms-transform: rotate(-90deg) translateX(50%);
              transform: rotate(-90deg) translateX(50%); } }

.menu__line_meat {
  background-image: url(../img/meat-eat.jpg);
  background-position: left;
  background-repeat: no-repeat;
  -webkit-background-size: 5rem 100%;
          background-size: 5rem 100%; }

.menu__line_vegan {
  background-image: url(../img/vegan-bg.jpg);
  background-position: left;
  background-repeat: no-repeat;
  -webkit-background-size: 5rem 100%;
          background-size: 5rem 100%; }

.menu__line_diet {
  background-image: url(../img/diet-bg.jpg);
  background-position: left;
  background-repeat: no-repeat;
  -webkit-background-size: 5rem 100%;
          background-size: 5rem 100%; }

.menu__txt {
  width: 0rem;
  overflow: hidden;
  background-color: rgba(47, 50, 52, 0.93);
  font-family: 'ubuntulight';
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #fff; }

.order {
  background-color: #000;
  background-image: url(../img/order-bg.jpg); }

.section__title {
  font-family: 'gagalinregular';
  text-transform: uppercase;
  font-size: 4.5rem;
  line-height: 7.375rem; }
  @media screen and (max-width: 768px) {
    .section__title {
      margin-top: 7.8125rem; } }
  @media screen and (max-width: 480px) {
    .section__title {
      margin-top: 4.0625rem; } }
  .section__title_color {
    color: #f5c108; }
  .section__title_center {
    text-align: center;
    padding-bottom: 5rem; }
    @media screen and (max-width: 768px) {
      .section__title_center {
        padding-bottom: 6.25rem; } }
    @media screen and (max-width: 480px) {
      .section__title_center {
        padding-bottom: 1.5625rem; } }

.form__block-title {
  color: #fff;
  font-family: 'ubuntulight';
  font-size: 0.875rem;
  padding-bottom: 0.625rem; }

.form__input {
  border: none;
  -webkit-border-radius: 0.3125rem;
          border-radius: 0.3125rem;
  width: 100%;
  outline: none;
  height: 2.1875rem; }

.form__row {
  margin-bottom: 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 480px) {
    .form__row {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.form__block {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem; }
  .form__block:last-child {
    margin-right: 0; }

@media screen and (max-width: 480px) {
  .form__block_stage {
    display: none; } }

.form__block_stage:last-child {
  margin-right: 0; }

.form__content {
  width: 48%; }
  @media screen and (max-width: 768px) {
    .form__content {
      width: 62%; } }
  @media screen and (max-width: 480px) {
    .form__content {
      width: 96%; } }

.form__content-area {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .form__content-area {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.comment {
  resize: none;
  height: 7.8125rem;
  outline: none;
  padding: 0; }

.form__block-radio {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 480px) {
    .form__block-radio {
      -webkit-box-flex: initial;
      -webkit-flex: initial;
          -ms-flex: initial;
              flex: initial;
      margin-left: 0.625rem;
      margin-right: 0.625rem;
      margin-top: 1.5625rem; } }

.radio__btn {
  display: none; }
  .radio__btn:checked + .radio__label:before {
    content: '\2022';
    font-size: 1.875rem;
    color: #e35028; }

.radio__label {
  color: #fff;
  font-family: 'ubuntulight';
  font-size: 0.875rem;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .radio__label:before {
    content: '\2022';
    width: 1.125rem;
    height: 1.125rem;
    font-size: 1.875rem;
    color: #fff;
    background-color: #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin-right: 1.25rem;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .radio__label:hover {
    cursor: pointer; }

.check__btn {
  display: none; }
  .check__btn:checked + .check__label:before {
    content: '\2714';
    font-size: 1.5625rem;
    color: #e35028; }

.check__label {
  color: #fff;
  font-family: 'ubuntulight';
  font-size: 0.875rem;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .check__label:before {
    content: '\2714';
    width: 1.125rem;
    height: 1.125rem;
    font-size: 0.625rem;
    color: #fff;
    background-color: #fff;
    margin-right: 1.25rem;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .check__label:hover {
    cursor: pointer; }

.reset-btn {
  background: transparent;
  text-transform: initial;
  outline: none; }

@media screen and (max-width: 480px) {
  .form__btn {
    margin-top: 2.5rem; } }

.contacts {
  background-image: url(../img/contacts-bg.jpg);
  position: relative; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3.75rem;
  background-image: url(../img/footer.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'ubuntulight';
  font-size: 0.875rem; }
  @media screen and (max-width: 768px) {
    .footer {
      padding: 0 1.5625rem 0 1.5625rem; } }
  @media screen and (max-width: 480px) {
    .footer {
      height: 7.1875rem; } }

.footer__content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 480px) {
    .footer__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

.footer__block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%; }
  @media screen and (max-width: 480px) {
    .footer__block {
      width: 100%;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.footer__adress {
  color: #fff;
  margin-top: 0.625rem;
  margin-bottom: 0.625rem; }

.footer__phone {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer__phone-number {
  color: #e45028;
  font-family: 'ubuntubold';
  padding-left: 0.625rem; }

.phone-pic {
  width: 0.75rem;
  height: 0.75rem;
  fill: #e45028; }

.social {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media screen and (max-width: 480px) {
    .social {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      margin-top: 1.125rem; } }

.social__item {
  list-style-type: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.social__link {
  text-decoration: none;
  margin-left: 1.25rem;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 480px) {
    .social__link {
      margin-left: 10px;
      margin-right: 10px; } }

.social-pic {
  width: 1.25rem;
  height: 1.25rem;
  fill: #5d5d5d; }
  .social-pic:hover {
    fill: #fff; }

.slider {
  /* Style for "Rectangle" */
  background-color: #f9b43b;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b), to(#f9b43b));
  background-image: -webkit-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-image: -o-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%); }

.slider-area {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 768px) {
    .slider-area {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      position: relative; } }

.slider-block {
  position: relative;
  height: 72%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%; }
  @media screen and (max-width: 768px) {
    .slider-block {
      width: 68%;
      height: 40%;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .slider-block {
      height: 50%; } }
  @media screen and (max-width: 768px) {
    .slider-block_img {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin-top: 90px; } }
  @media screen and (max-width: 480px) {
    .slider-block_img {
      width: 95%;
      margin-top: 50px; } }
  @media screen and (max-width: 768px) {
    .slider-block_txt {
      width: 72%; } }
  @media screen and (max-width: 480px) {
    .slider-block_txt {
      width: 100%; } }

.slider__content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%; }

.slider__title {
  font-family: 'gagalinregular';
  font-size: 4.5rem;
  color: #fff;
  line-height: 4rem; }
  @media screen and (max-width: 768px) {
    .slider__title {
      margin-top: 30px; } }
  @media screen and (max-width: 480px) {
    .slider__title {
      font-size: 3.125rem; } }

.slider__txt {
  color: #fff;
  font-family: 'ubuntulight';
  font-size: 14px;
  line-height: 24px;
  margin-top: 50px; }
  @media screen and (max-width: 768px) {
    .slider__txt {
      margin-top: 30px; } }
  @media screen and (max-width: 480px) {
    .slider__txt {
      margin-top: 25px; } }

.slider__prise {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 35px; }
  @media screen and (max-width: 768px) {
    .slider__prise {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-top: 30px; } }
  @media screen and (max-width: 480px) {
    .slider__prise {
      margin-top: 25px; } }

.prise-title {
  font-family: 'gagalinregular';
  font-size: 30px;
  color: #e35028; }
  @media screen and (max-width: 480px) {
    .prise-title {
      font-size: 24px; } }

.prise-value {
  font-size: 72px;
  line-height: 64px; }
  @media screen and (max-width: 480px) {
    .prise-value {
      font-size: 45px; } }

.prise-btn {
  margin-left: 30px;
  margin-bottom: 10px; }
  @media screen and (max-width: 480px) {
    .prise-btn {
      margin-bottom: 20px; } }

.slider__pic {
  width: 100%;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center; }
  @media screen and (max-width: 768px) {
    .slider__pic {
      -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
              align-self: flex-end; } }

.slider__img {
  width: 100%; }
  @media screen and (max-width: 480px) {
    .slider__img {
      width: 95%; } }

.composition-pic {
  width: 90px;
  height: 90px;
  background-color: rgba(227, 80, 40, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer; }
  .composition-pic:hover + .composition-content {
    display: block; }
  @media screen and (max-width: 768px) {
    .composition-pic {
      left: 20px; } }
  @media screen and (max-width: 480px) {
    .composition-pic {
      left: 0; } }

.composition-img {
  width: 46px;
  height: 44px;
  fill: #fff;
  margin-top: 15px; }

.composition-txt {
  color: #fff;
  font-family: 'gagalinregular';
  font-size: 14px; }

.composition-content {
  width: 270px;
  height: 330px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  z-index: 2;
  top: 0;
  left: 90px;
  -webkit-border-radius: 5px;
          border-radius: 5px; }
  @media screen and (max-width: 768px) {
    .composition-content {
      left: 110px;
      width: 320px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding-right: 70px; } }
  @media screen and (max-width: 480px) {
    .composition-content {
      left: 90px;
      width: 350px; } }

.composition-content__close-pic {
  position: absolute;
  z-index: 5;
  top: 20px;
  right: 20px;
  display: none; }
  @media screen and (max-width: 768px) {
    .composition-content__close-pic {
      display: block; } }

.calories-pic {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 768px) {
    .calories-pic {
      top: 0;
      right: 20px;
      left: initial;
      bottom: initial; } }
  @media screen and (max-width: 480px) {
    .calories-pic {
      right: 0; } }

.calories-img {
  width: 60px;
  height: 60px;
  fill: rgba(248, 213, 138, 0.5); }

.calories-txt {
  color: rgba(248, 213, 138, 0.5);
  font-family: 'gagalinregular';
  font-size: 14px;
  margin-top: -36px;
  padding-left: 4px;
  line-height: 28px; }

.calories-value {
  font-size: 20px;
  line-height: 30px; }

.slider-btn {
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .slider-btn {
      position: absolute; }
      .slider-btn_left {
        left: 45px;
        top: 50%; }
      .slider-btn_right {
        top: 50%;
        right: 45px; } }
  @media screen and (max-width: 480px) {
    .slider-btn_left {
      left: 0; }
    .slider-btn_right {
      right: 0; } }

.slider-link {
  display: block; }

.slider-icon {
  width: 27px;
  height: 13px;
  fill: #fff;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%; }

.slider-icon_left {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }

.slider-icon_right {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }

.composition-list {
  padding: 20px; }
  @media screen and (max-width: 768px) {
    .composition-list {
      padding-right: 0; } }

.composition-content {
  display: none; }
  .composition-content:hover {
    display: block; }

.composition-list__line {
  list-style-type: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 9px; }
  .composition-list__line:last-child {
    margin-bottom: 0; }

.composition-list__pic {
  width: 49px;
  text-align: center; }

.composition-list__beef {
  width: 44px;
  height: 40px;
  fill: #e74500; }

.composition-list__name {
  color: #2f3234;
  font-family: 'ubuntumedium';
  font-size: 14px;
  margin-left: 21px; }

.composition-list__weight {
  color: #2f3234;
  font-family: 'ubuntulight';
  font-size: 14px;
  margin-left: auto; }

.composition-list__buns {
  width: 48px;
  height: 30px;
  fill: #f4c100; }

.composition-list__salad {
  width: 38px;
  height: 38px;
  fill: #6cd52d; }

.composition-list__sauce {
  width: 41px;
  height: 43px;
  fill: #e74500; }

.composition-list__cucumber {
  width: 43px;
  height: 37px;
  fill: #6cd52d; }

.composition-list__cheese {
  width: 43px;
  height: 37px;
  fill: #f4c100; }
