@font-face {
  font-family: 'ubuntubold';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntulight';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntumedium';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubunturegular';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gagalinregular';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap; }

.top {
  width: 100%;
  min-height: 650px;
  height: 100%;
  background-color: #000;
  background-image: url(../img/top-bg.png);
  -webkit-background-size: cover;
  background-size: cover; }

.header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-top: 30px;
  font-family: 'ubunturegular'; }

.top-logo {
  background-image: url(../img/logo.png);
  width: 92px;
  height: 69px; }

.nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.nav__line {
  color: #fff;
  text-transform: uppercase;
  margin-right: 30px; }
  .nav__line:last-child {
    margin-left: -15px; }
  .nav__line:first-child {
    list-style-type: none; }

.header__btn {
  list-style-type: none; }

.order {
  color: #fff;
  text-decoration: none;
  background-color: #e94400;
  padding: 15px;
  -webkit-border-radius: 3px;
          border-radius: 3px; }

.top_content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.top__img {
  background-image: url(../img/top-burger.png);
  -webkit-background-size: cover;
  background-size: cover;
  width: 450px;
  height: 420px; }

.top__txt {
  font-family: 'lifehackmedium';
  color: #fff;
  font-size: 65px;
  line-height: 85px;
  letter-spacing: -1.62px; }

.top__title {
  font-family: 'gagalinregular';
  text-transform: uppercase;
  font-size: 72px;
  line-height: 85px;
  color: #f5c108; }

.down-btn {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.down-btn__icon {
  width: 25px;
  height: 25px;
  border: 2px solid #fff;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-border-radius: 0 0 0 5px;
          border-radius: 0 0 0 5px;
  border-top: transparent;
  border-right: transparent; }
