.team {
  background-image: url(../img/team-bg.jpg);
  position: relative; }

.team-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  background-color: rgba(47, 50, 52, 0.93);
  padding: 5.625rem 0 0 5rem; }
  @media screen and (max-width: 48rem) {
    .team-content {
      left: 0;
      padding: 0; } }

.team-content__title {
  font-family: 'gagalinregular';
  font-size: 4.5rem;
  color: #f9b43b;
  margin-bottom: 5rem;
  width: 100%; }
  @media screen and (max-width: 48rem) {
    .team-content__title {
      text-align: center;
      margin-top: 7.8125rem; } }
  @media screen and (max-width: 30rem) {
    .team-content__title {
      margin-top: 4.0625rem; } }

@media screen and (max-width: 48rem) {
  .team-list {
    margin-top: 7.8125rem;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; } }

@media screen and (max-width: 30rem) {
  .team-list {
    margin-top: 6.25rem; } }

.team-list__line {
  list-style-type: none;
  margin-bottom: 2.1875rem; }
  @media screen and (max-width: 48rem) {
    .team-list__line {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 1.875rem; } }

.team-member {
  cursor: pointer;
  margin-bottom: 1.25rem; }

.team-member__name {
  font-family: 'gagalinregular';
  color: #fff;
  font-size: 0.875rem; }
  @media screen and (max-width: 48rem) {
    .team-member__name {
      font-size: 1.5rem; } }

.team-member__content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0.625rem;
  height: 0;
  overflow: hidden; }
  @media screen and (max-width: 48rem) {
    .team-member__content {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.team-member__foto {
  background-image: url(../img/aphex-jpg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  width: 6.25rem;
  height: 6.25rem;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  @media screen and (max-width: 48rem) {
    .team-member__foto {
      margin-bottom: 1.375rem; } }

.team-member__description {
  width: 13.125rem;
  font-size: 0.875rem;
  color: #fff;
  padding-left: 1.25rem; }
  @media screen and (max-width: 48rem) {
    .team-member__description {
      width: 20.625rem; } }

.team-member__position {
  font-family: "ubuntubold"; }

.team-member__about {
  font-family: 'ubuntulight';
  line-height: 1.5rem;
  padding-top: 0.9375rem; }

.team-list__line_active .team-member__content {
  height: auto; }

.team-list__line_active .team-member__name {
  color: #f9b43b; }

.team-list__line_active .team-member__icon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
