@font-face 
  font-family: 'ubuntubold';
  src: url('../fonts/ubuntu-b-webfont.woff2') format('woff2'), url('../fonts/ubuntu-b-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;






@font-face 
  font-family: 'ubuntulight';
  src: url('../fonts/ubuntu-light-webfont.woff2') format('woff2'), url('../fonts/ubuntu-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;






@font-face 
  font-family: 'ubuntumedium';
  src: url('../fonts/ubuntu-medium-webfont.woff2') format('woff2'), url('../fonts/ubuntu-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;



@font-face 
  font-family: 'ubunturegular';
  src: url('../fonts/ubuntu-regular-webfont.woff2') format('woff2'), url('../fonts/ubuntu-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

@font-face
  font-family: 'lifehackmedium';
  src: url('../fonts/lifehack_medium-webfont.woff2') format('woff2'), url('../fonts/lifehack_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;


@font-face 
  font-family: 'gagalinregular';
  src: url('../fonts/gagalin-regular-webfont.woff2') format('woff2'), url('../fonts/gagalin-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;


html
	margin: 0;
	padding: 0;

body
	margin: 0;

ul
	margin: 0;
	padding: 0;

.wrapper
	width: 100%;
	

.container
	margin: 0 auto;
	width: 940px;

.top 
	width: 100%;
	min-height: 650px;
	height: 100vh;
	background-color: #000;
	background-image: url(../img/top-bg.png);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

.fixed-nav
	position: fixed
	z-index: 22
	right: 50px
	top: 90px

.fixed-nav__item
	color: #fff
	width: 18px
	height: 18px
	border-radius: 50%
	text-align: center
	list-style-type: none
	margin-bottom: 5px

.fixed-nav__link
	text-decoration: none
	color: #fff
	line-height: 18px
	font-size: 24px

.fixed-nav__item_active
	border: 1px solid #fff

	


.header
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	font-family: 'ubunturegular';
	padding-top: 10px;
	align-items: center;


.top-logo
	width: 92px;
	height: 69px;

.nav
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	margin-left: auto;
.nav__line
	color: #fff;
	text-transform: uppercase;
	margin-right: 36px;
	font-size: 13px;

	&:last-child
		

	
	&:first-child
		list-style-type: none;

.header__btn
	list-style-type: none;
	margin-left: -15px;
	margin-right: 0;
	

.order
	color: #fff;
	text-decoration: none;
	background-color: #e94400;
	padding: 10px 18px;
	border-radius: 5px;

.top_content
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;

.top__img
	background-image: url(../img/top-burger.png);
	-webkit-background-size: cover;
	background-size: cover;
	width: 450px;
	height: 420px;
	background-position: center;
	margin-left: -28px;
	margin-top: -4px;

.top__txt
	font-family: 'lifehackmedium';
	color: #fff;
	font-size: 65px;
	line-height: 61px;
	margin-top: 51px;
	margin-left: 13px;


.top__title
	font-family: 'gagalinregular';
	text-transform: uppercase;
	font-size: 72px;
	line-height: 118px;
	color: #f5c108;

.down-btn
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 111px;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;

.down-btn__icon
	width: 20px;
	height: 20px;
	border: 2px solid #fff;
	transform: rotate(-45deg);
	border-radius: 0 0 0 5px;
	border-top: transparent;
	border-right: transparent;

.we-best
	margin: 0;
	width: 100%;
	min-height: 650px;
	height: 100vh;
	background-image: url(../img/bg-webest.jpg);
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;

.best-title
	text-align: center;
	font-family: 'gagalinregular';
	color: #333538;
	font-size: 72px;
	padding-top: 80px;
	padding-bottom: 80px

.best-list
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	list-style-type: none;
	justify-content: center;

.best-list__item
	text-align: center;
	width: 33%;

.best-list__item span
	font-family: 'lifehackmedium';
	font-size: 24px;
	color: #2f3234;

.best-list__item p
	font-family: 'ubunturegular';
	font-size: 14px;
	line-height: 24px;
	color: #2f3234;

.best-item-pic
	padding-bottom: 30px;

.reviews
	width: 100%;
	height: 100vh;

.reviews-list
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;

.reviews__item
	list-style-type: none;
	width: 25%;
	height: 50%;
	margin: 0;
	padding: 0;
	position: relative;
	&:hover .reviews__content
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		flex-direction: column

.reviews__img
	margin: 0;
	padding: 0;
	min-width: 100%;
	min-height: 100%;

.reviews__content
	position: absolute;
	top: 0;
	z-index: 1;
	background-color: rgba(68, 69, 70, 0.7);
	display: none;
	height: 100%;
	padding-left: 20px;
	padding-right: 30px;
	overflow: hidden;




.reviews__title
	font-family: 'gagalinregular';
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 50px;
	padding-bottom: 30px;

.reviews__txt
	font-family: 'ubuntulight';
	color: #fff;
	font-size: 14px;
	line-height: 24px

.reviews__btn
	margin-top: auto
	margin-bottom: 60px

.reviews__link
	text-decoration: none;
	background-color: #2f3234;
	color: #fff;
	text-transform: uppercase;
	font-family: 'ubunturegular';
	padding: 15px;
	font-size: 13px;
	border-radius: 5px;
	&:hover
		background-color: #242627;
	

.team
	margin: 0;
	width: 100%;
	min-height: 650px;
	height: 100vh;
	background-image: url(../img/team-bg.jpg);
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;

.team-content
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 50%;
	background-color: rgba(47, 50, 52, 0.93);

.team-content__title
	font-family: 'gagalinregular';
	font-size: 72px;
	color: #f9b43b;

.accordeon__line
	list-style-type: none;

.team-member__name
	font-family: 'gagalinregular';
	color: #fff;
	font-size: 14px;
	


.team-member__content
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	height: 0;
	overflow: hidden;

.team-member__foto
	background-image: url(../img/aphex-jpg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	width: 100px;
	height: 100px;
	border-radius: 50%;

.team-member__description
	width: 210px;
	font-size: 14px;
	color: #fff;

.team-member__position
	font-family: "ubuntubold";

.team-member__about
	font-family: 'ubuntulight';

.team-member__content_active
	height: auto;
